.app-container {
  display: flex;
  height: 100vh;
}

.side-navbar {
  width: 35%;
  height: 100vh;
  display: flex;
}

.main-content {
  flex: 1;
  height: 100vh;
  width: 65%;
  display: flex;
  flex-direction: column;
  background-color: black;

  .editor-section {
    height: 50%;
  }

  .result-section {
    height: 50%;
    overflow: hidden;
  }
}
