.app-container {
  display: flex;
  height: 100vh;
  background-color: black;
}

.side-navbar {
  width: 15%;
  height: 100%;
}

.main-content {
  flex: 1;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  .editor-section {
    height: 50%;
  }

  .result-section {
    height: 50%;
  }
}
